.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55%;
    box-shadow: 0px 0px 40px #2563EB;
    border-radius: 18px;
    gap: 8%;
}

.seccion {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2vh;
    margin-top: -2vh;
}

.input {
    background-color: #212121;
    padding: 10px;
    border: 2px solid white;
    border-radius: 18px;
}

.input:focus {
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: 0px 10px 40px #2563EB;;
    transition: 0.5s;
}


.button {
    width: 50%;
    background-color: #2563EB; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease, transform 0.15s ease;
    margin-bottom: 5%;
}

.button:hover{
    background-color: #1D4ED8;
    outline-color: rgb(0, 255, 255);
    box-shadow: 0px 10px 40px #2563EB;;
    transition: 0.5s;
}

.error{
    font-size: 12px;
    color: red;
    margin-top: 5px;  
    text-align: center;
    width: 100%;
}
